@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(226, 226, 226);
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

header h1 {
  text-transform: uppercase;
  color: steelblue;
  font-weight: 400;
  letter-spacing: 5px;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-wrapper-working {
  background-color: #333fdd;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px #888888;
}

.time-wrapper-resting {
  background-color: #19e42a;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px #888888;
}

.time-wrapper  {
  text-align: right;
  font-size: 2rem;
  text-transform: uppercase;
  color: #7a7a7a;
  border-width:0px;
  border:none;
}

.time-wrapper h3 {
  text-align: center;
  font-size: 4rem;
  color: steelblue;
  font-weight: 400;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  font-size: 10px;
  float: left;

}


.timeset-wrapper {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.timeset-wrapper focus{
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeset-wrapper .control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeset-wrapper .control h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #7a7a7a;
  margin-bottom: 1rem;
}

.timeset-wrapper .control h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  color: #7a7a7a;
}

.timeset-wrapper .control button {
  border: none;
  background-color: transparent;
  color: steelblue;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
}

.timeinput input[type="text"]
{
  background: transparent;
  border: none;
}

.clockDigits{
  border-width:0px;
  border:none;
  width: 70px;
}